:root {
    --primary-color: #003049;
    --secondary-color: #780000;
    --dark-colour: #212529;
    --light-colour: #f8f9fa;
    --accent-color: #669BBC;
    --text-color: #e1e1e1;
    --shadow-color: 0 4px 6px rgba(0, 0, 0, 0.1);
    --font-family: 'Montserrat', sans-serif;
    --bs-body-font-family: "Montserrat", sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-font-size: 1rem;
    --bs-body-line-height: 1.5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--dark-colour);
    color: var(--text-color);
    min-height: 100vh;
    line-height: 1.6;
}

header {
      background: linear-gradient(to right, #003049, #011a28);
    padding: 1.5rem 2;
    box-shadow: var(--shadow-color);
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-colour);
    gap: 0.5rem;
}

nav a {
    color: var(--light-colour);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--accent-color);
}

.vina-400 {
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search-container {
    position: relative;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.search-box {
    width: 100%;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 25px;
    background-color: #2d2d2d;
    box-shadow: var(--shadow-color);
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
}

.search-box:focus {
    outline: none;
    box-shadow: 0 0 5px var(--accent-color);
}

.search-icon {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-color);
    cursor: pointer;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.featured-section {
    margin-bottom: 3rem;
}

.featured-movie {
    position: relative;
    height: 500px;
    gap: 1.5rem;
    background-color: #2d2d2d;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: var(--shadow-color);
}

.featured-backdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 3rem 2rem 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.category-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
}

