:root {
    --primary-color: #003049;
    --secondary-color: #780000;
    --dark-colour: #212529;
    --light-colour: #f8f9fa;
    --accent-color: #669BBC;
    --text-color: #e1e1e1;
    --shadow-color: 0 4px 6px rgba(0, 0, 0, 0.1);
    --font-family: 'Montserrat', sans-serif;
    --bs-body-font-family: "Montserrat", sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-font-size: 1rem;
    --bs-body-line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--dark-colour);
    color: var(--text-color);
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    padding: 1.5rem 2;
    box-shadow: var(--shadow-color);
    position: relative;
    text-align: center;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-colour);
    gap: 0.5rem;
}

nav a {
    color: var(--light-colour);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--accent-color);
}

.vina-400 {
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.seach-container {
    position: relative;
    max-width: fit-content;
    margin: 2 rem auto;  
    padding: 0.5rem;
}